@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat-SemiBold.ttf');
  }

  @font-face {
    font-family: 'PTSerif';
    src: url('../PTSerif-Regular.ttf');
  }

  @font-face {
    font-family: 'PTSerif-bi';
    src: url('../PTSerif-BoldItalic.ttf');
  }


