.chapter {
    padding-left: 0.3rem;
    margin-bottom: -1rem;
}

.chapterNumber {

}

.postTitle {
    word-wrap: break-word;
    width: 80%;
    padding-bottom: 10px;
}

.postBody {
    padding-bottom: 15px;
}

.readLengthParent {
    display: flex;
    flex-direction: row;
}