.topBar{
    // display: inline-flex;
    // justify-content: space-between;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.topBarUL{
    display:flex;
    justify-content: space-between;
    align-items: center;



}

.topBarUL ul:last-child {
    // margin-right: 0;
}


.topBar ul li a {
    color: black;
    &:visited {
        color: none;
    }
}